/*
color: #e67e22;
*/


/*--------------------------*/
         /*SETUP*/
/*--------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

.clear-fix {zoom: 1}
.clear-fix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------*/
   /*REUSABLE COMPONENTS*/
/*--------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*--------------------------*/
        /*LINKS*/
/*--------------------------*/

/* a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
} */

/*--------------------------*/
        /*HEADING*/
/*--------------------------*/

.hero-text-box h1 {
    color: #e67e22;
}

/*--------------------------*/
        /*BUTTONS*/
/*--------------------------*/

.btn:link,
.btn-visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid #e67e22;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    margin-right: 20px;
    border: 1px solid #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    border: 1px solid #cf6d17;

}

/*--------------------------*/
   /*HEADER*/
/*--------------------------*/
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    display:none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0px;
}

/*Main nav*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-right: 40px;
    padding:  
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    
}

/*Sticky nav*/

.sticky{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgb(255, 255, 255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.main-nav {margin-top: 18px;}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {display:none;}
.sticky .logo-black {display:block;}

/* -------------------SECTION CATEGORY----------------- */

.section-category {
    margin-top: 20px;
}

.men-box,
.women-box {
    width: 45%;
    margin: 0 2.5%;
    float: left;
}

.men-img-box {
    display: inline-block;
    background-image: url("img/men-black.jpg");
    background-size: cover;
    background-position: top;    
    width: 100%;
    height: 100vh;
}

.women-img-box {
    display: inline-block;
    background-image: url("img/women-black.jpg");
    background-size: cover;
    background-position: top;    
    width: 100%;
    height: 100vh;
}

.btn-box {
    width: 100%;
    text-align: center;
}

.btn-category:link,
.btn-category:visited {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #e67e22;
    color: #e67e22;
    text-transform: uppercase;
    margin-top: 60px;
}

.btn-category:hover,
.btn-category:active {
    color: #fff;
    background-color: #e67e22;
}

/* -----------------FOOTER------------------ */

.main-footer {
    background-color: #1a1a1a;
    padding: 60px;
    margin-top: 10px;
  }
  
  .footer-items {
    text-align: center;
  }
  
  .footer-items p {
    color: #fff;
    font-size: 110%;
    margin-bottom: 20px;
  }
  
  .footer-nav {
    list-style: none;
  }
  
  .footer-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-nav li:last-of-type {
    margin: 0;
  }
  
  .footer-nav li a:link,
  .footer-nav li a:visited{
    color: #fff;
    text-decoration: none;
  }
  
  .footer-nav i {
    font-size: 156%;
  }
  
  .footer-nav li a:hover .facebook,
  .footer-nav li a:active .facebook {
    color: #3b5998;
  }
  
  .footer-nav li a:hover .instagram,
  .footer-nav li a:active .instagram {
    color: #c32aa3;
  }
  
  .footer-nav li a:hover .twitter,
  .footer-nav li a:active .twitter {
    color: #1da1f2;
  }
  
  .footer-nav li a:hover .google-plus,
  .footer-nav li a:active .google-plus {
    color: #db4437;
  }









